button{
  width: 6em;
  height: 2em;
  border: none;
  background-color: #222222;
  font-size: 26px;
  color: #fff;
  border-radius: 25px;
  margin: 15px;
  margin-top: 0px;
  cursor: pointer;
  transition: background .6s;
}
button:hover{
  background-color: #333;
}
