.contador{
  min-width: 15em;
  height: 15em;
  border: 2px solid #fff;
  border-radius: 8px;
  border-top-left-radius: 3em;
  border-bottom-right-radius: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  box-shadow: 5px 5px 10px #2224;
}
.contador h1{
  color: #222;
  font-size: 5em;

}