.boton-contenedor{
  border: none;
  height: 83px;
  flex: 1 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 38px;
  background-color: #1b1b32;
  color: #fff;
  border-radius: 10px;
  border: 2px solid #fff;
  cursor: pointer;
  user-select: none;
  transition: background-color .7s;
}
.boton-contenedor:hover{
  background-color: #5a01a7;
}
.operador{
  background-color: #00471b;
  transition: background-color .7s;
}
.operador:hover{
  background-color: #ff6600;
}