.input{
  height: 2em;
  border-radius: 8px;
  margin: 12px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: bold;
  font-size: 30px;
  background-color: #f8cbd8;
  color: #fff;
  border: 2px solid #e199ae;
  border-bottom: 5px solid #e199ae;
  padding: 11px 30px 11px 11px;
}