@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Borel&family=Cherry+Bomb+One&family=Cutive+Mono&family=Indie+Flower&family=M+PLUS+2:wght@100;300;400&family=Montserrat+Alternates&family=Quicksand:wght@300;400&family=Tilt+Prism&display=swap');
*{
  margin: 0px;
  padding: 0px;
  font-family: 'Quicksand', sans-serif;
  color: #fff;
}
body{
  background-color: #111;
}
.date{
  margin: 20px 0px;
  display: flex;
  align-items: center;
  gap: .8em;
  font-size: 2em;
}
.hora{
  background-color: #9994;
  border-radius: 5px;
  padding: 0px .5em;
}
.dia{
  text-shadow: 3px 2px 0 #000;
}
.app-tareas{
  width: 100%;
  height: 100vh;
  display: flex; 
  justify-content: center;
  align-items: center;
}
.tareas-listas-principal{
  width: 30em;
  padding-top: 2em;
  height: 96vh;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
}

body::-webkit-scrollbar {
  width: 6px;
}
body::-webkit-scrollbar-track {
  background: transparent;
}
body::-webkit-scrollbar-thumb {
  background-color: #e84d5b;
  border-radius: 20px;
}
.fondo-gradient{
  position: fixed;
  background: linear-gradient(#e84d9b, rgb(255, 176, 65));
  width: 60em;
  height: 60em;
  filter: blur(100px);
  filter: saturate(10px);
  border-bottom-right-radius: 50%;
  z-index: -1;
  top: -10em;
  left: -20em;
}