.tarea-contenedor{
  width: 100%;
  margin: 5px 0px;
  padding: 8px 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #fff;
  background-color: #fff1;
  cursor: pointer;
  box-shadow: 0px 0px 15px #3332;
}
.tarea-texto{
  width: 100%;
  font-size: 1em;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  border-radius: 5px;
  overflow-wrap: anywhere;
}
.tarea-icono{
  width: 25px;
  height: 25px;
  margin: 5px;
}

.tarea-contenedor.completada {
  background-color: #4443;
  text-decoration: line-through;
}