.tarea-contenedor{
  width: 500px;
  min-height: 65px;
  background-color: #1b1b32;
  margin: 5px 0px;
  padding: 8px 15px 8px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 7px;
  border: 1px solid #fff;
  cursor: pointer;
}
.completada{
  background-color: #5a01a7;
  text-decoration: line-through;
}
.tarea-texto{
  width: 100%;
  height: 100%;
  font-size: 20px;
  display: flex;
  align-items: center;
  overflow-wrap: anywhere;
}
.tarea-icono{
  width: 25px;
  height: 25px;
  margin: 5px;
}