@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Cutive+Mono&family=Indie+Flower&family=M+PLUS+2:wght@100;300;400&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Architects Daughter', cursive;
}
.App{
  height: 100vh;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedor-calculadora{
  width: 400px;
  height: 600px;
  padding: 14px;
  background-color: #444;
  border-radius: 20px;
  border: 2px solid #fff;
}