@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Cutive+Mono&family=Indie+Flower&family=M+PLUS+2:wght@100;300;400&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Cutive Mono', monospace;
}
.App{
  height: 100vh;
  background-color: #ffe8ef;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedor-calculadora{
  width: 400px;
  height: 600px;
}
.fila{
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}